<a href="https://colab.research.google.com/github/saahdavid/STA578/blob/main/CS50_Intro_To_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# CS50 Introduction to Programming in Python

## Functions, variables

In [ ]:
# Ask user for their name / Remove whitespace from str and capitalize user's name
name = input('What is your name? ').strip().title()


# Split user's name into first and last name
first, last = name.split(" ")

# # Say hello to user
print(f"Hello, {first} {last}")

What is your name? David saah
Hello, David Saah

In [ ]:
# Int function

## Calculator

x, y = int(input("What's x? ")), int(input("What's y? "))

print(x + y)

What's x? 2
What's y? 1
3

In [ ]:
# float function

## Calculator

x, y = float(input("What's x? ")), float(input("What's y? "))

print("Floating point value :",x + y)

# rounding to a particular number of decimal places
z = round(x+y)
print("Round to nearest integer: ", z)

# adding commas
print(f"Formating values: {z:,}")

What's x? 99999
What's y? 1000
Floating point value : 100999.0
Round to nearest integer:  100999
Formating values: 100,999

In [ ]:
# simple division

x, y = float(input("What's x? ")), float(input("What's y? "))

z = x / y

print(f"{z:.2f}")

What's x? 10
What's y? 3
3.33

Functions

In [ ]:
# define a function call `hello()`
def main():
    name = input("What is your name? ")
    hello(name)

def hello(to = "world"):
    print("Hello,", to)

main()

What is your name? David
Hello, David

In [ ]:
# define a function to take the square of a number

def main():
    x = int(input("What's x? "))
    print("x squared is ", square(x))

def square(n):
    return n ** 2

main()

What's x? 2
x squared is  4

## Conditionals

In [ ]:
# code of compare

x, y = int(input("What's x? ")), int(input("What's y? "))

if x < y:
    print("x is less than y")
elif x > y:
    print("x is greater than y")
else:
    print("x is equal to y")

What's x? 2
What's y? 2
x is equal to y

In [ ]:
# code of compare

x, y = int(input("What's x? ")), int(input("What's y? "))

if x == y:
    print("x is equal to y")
else:
    print("x is not equal to y")

What's x? 1
What's y? 1
x is equal to y

In [ ]:
score = int(input("Score: "))

if 90 <= score:
    print("Grade: A")
elif 80 <= score:
    print("Grade: B")
elif 70 <= score:
    print("Grade: C")
elif 60 <= score:
    print("Grade: D")
else:
    print("Grade: F")

Score: 86
Grade: B

In [ ]:
# parity

def main():
    x = int(input("What's x? "))
    if is_even(x):
        print("Even")
    else:
        print("Odd")

def is_even(n):
    if n % 2 == 0:
        return True
    else:
        return False

main()

What's x? -2
Even

In [ ]:
# parity

def main():
    x = int(input("What's x? "))
    if is_even(x):
        print("Even")
    else:
        print("Odd")

def is_even(n):
    return n % 2 == 0

main()

What's x? 2
Even

In [ ]:
# house
name = input("What's your name? ")

match name:
    case "Harry" | "Hermione" | "Ron":
        print("Gryffindor")
    case "Draco":
        print("Slytherin")
    case _:
        print("Who?")

What's your name? Draco
Slytherin

## Loops

In [ ]:
""" while loop """
i = 0

while i < 3:
    print("meow")
    i += 1

meow
meow
meow

In [ ]:
""" for loop """

for _ in range(0,3):
    print("meow")

meow
meow
meow

In [ ]:
print("meow\n" * 3, end="")

meow
meow
meow

In [ ]:
while True:
    n = int(input("What's n? "))
    if n > 0:
        break

for _ in range(n):
    print("meow")

In [ ]:
def main():
    number = get_number()
    meow(number)

def get_number():
    while True:
        n = int(input("What's n? "))
        if n > 0:
            break
    return n


def meow(n):
    for _ in range(n):
        print("meow")

main()

What's n? 3
meow
meow
meow

In [ ]:
# Hogwarts
students = ["Hermione", "Harry", "Ron"]
for student in students:
    print(student)

Hermione
Harry
Ron

In [ ]:
students = ["Hermione", "Harry", "Ron"]
for i in range(len(students)):
    print(i, students[i])

0 Hermione
1 Harry
2 Ron

In [ ]:
# dictionary

'''
students = ["Hermione", "Harry", "Ron", "Draco"]
houses = ["Gryffindor", "Gryffindor", "Gryffindor", "Slytherin"]
'''

students = {"Hermione": "Gryffindor",
            "Harry" : "Gryffindor",
            "Ron" : "Gryffindor",
            "Draco": "Slytherin"}

for student in students:
    print(student, students[student], sep = ", ")

Hermione, Gryffindor
Harry, Gryffindor
Ron, Gryffindor
Draco, Slytherin

In [ ]:
# dictionary

students = [
    {"name": "Hermione", "house": "Gryffindor", "patronus": "Otter"},
    {"name": "Harry", "house": "Gryffindor", "patronus": "Stag"},
    {"name": "Ron", "house": "Gryffindor", "patronus": "Jack Russell terrier"},
    {"name": "Draco", "house": "Slytherin", "patronus": None}
]

for student in students:
    print(student['name'], student['house'], student['patronus'], sep = ", ")

Hermione, Gryffindor, Otter
Harry, Gryffindor, Stag
Ron, Gryffindor, Jack Russell terrier
Draco, Slytherin, None

In [ ]:
'''
Mario
'''

def main():
    print_column(3)


def print_column(height):
    print("#\n" * height, end="")

main()

#
#
#

In [ ]:
def main():
    print_row(4)


def print_row(width):
    print("?" * width)

main()

????

In [ ]:
def main():
    print_square(3)

def print_square(size):
    # for each row in square
    for i in range(size):
        print("#" * size)


main()

###
###
###

## Exceptions

In [ ]:
''' Number '''
def main():
    x = get_int("What's x? ")
    print(f"x is {x}")

def get_int(prompt):
    while True:
        try:
            return int(input(prompt))
        except ValueError:
            pass

main()

What's x? d
What's x? dog
What's x? 3
x is 3

## Debugging

In [8]:
'''Mario'''

def main():
    height = int(input("Height: "))
    pyramid(height)


def pyramid(n):
    for i in range(n):
        print("#" * i)

if __name__ == "__main__":
    main()

Height: 7

#
##
###
####
#####
######